#!/usr/bin/env python

{% include 'j2templates/load_spikeforest_tetrode_recording.py' %}

{% include 'j2templates/run_spike_sorting.py' %}

{% include 'j2templates/compare_with_truth.py' %}

print('Done. See test_outputs/')